#start_section {
    gap: 6vh;
    background-image: url(../../../../public/assets/background.png);
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: white;
}

.start_button {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 900;
    color: rgb(3, 49, 21);
}

.start_button:hover {
    color: rgb(172, 255, 19);
    text-decoration: underline;
}